<div class="push">
</div>
<div class="jumbotron centerfy">

    <h1>Field </h1>
    <h1>Inspector</h1>
    <br>
    <br>
    <div class="splash_buttons">
      <p><a class="btn btn-primary btn-lg" role="button" href="/sign_up">Sign Up</a></p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/">Demo</a></p>
    </div>

</div>