<h1>Dashboard for <%= @user.first_name %>  <%= @user.last_name %></h1>

<div id="current_location">Current Location: </div>
<div id="current_lat">Latitude: </div>
<div id="current_lng">Longitude: </div>

<div id="current_weather">Local Forecast: </div>
<div id="current_inspection">Site Inspection Required? </div>

<div id="job_sites">My Active Jobs:

</div>

