You are currently located at:
<div id="location"></div>

<div id="address"></div>

<br>
Current Forecast:
<div id="weather"></div>


<div id="photos">


  <% @photos.each do |x| %>
    <p><%= x.id %></p>
    <p><img src="<%= x.image.url %>"/></p>
    <% if x.image_processed? %>
      <p><img src="<%= x.image.url(:thumb).to_s %>"/></p>
    <% else %>
      <em>Processing...</em>
    <% end %>
  <% end %>




</div>