You are currently located at:
<div id="location"></div>

<div id="address"></div>

<form action="/" method="post" enctype="multipart/form-data">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <!-- <input type="file" accept="image/*" capture="camera" action='/'> -->
  <input name="image" type="file" accept="image/*;capture=camera">
  <!--
  <input type="file" accept="video/*" capture="camcorder">
  <input type="file" accept="audio/*" capture="microphone">
  -->
  <input type="submit">

</form>

<%= @photos %>
