You are currently located at:
<div id="location"></div>

<div id="address"></div>

<div id="photos">
  <h1>You have uploaded a photo!</h1>

  <form action="/" method="post" enctype="multipart/form-data">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
    <input name="image" type="file" accept="image/*;capture=camera">
    <input type="submit">
  </form>

  <% @photos.each do |x| %>
    <p><%= x.id %></p>
    <p><img src="<%= x.image.url %>"/></p>
  <% end %>




</div>