<div id="new_obs_field">

  This is a new observation field

  <%= form_for [@location, @report], :html => {:multipart => true} do |f| %>
  <li>Report date: <%= @report.report_date %></li>
  <div id="site_info">


<%= f.submit "Update observation fields"%>
<% end %>

</div>
